<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"
             xdt:Transform="Replace"/>
  </configSections>
  <connectionStrings>
    <add name="gestor" connectionString="Data Source=odes-sql01.unir.tbd;Initial Catalog=db_gestor;Persist Security Info=True;User ID=gestormapeos#web;Password=pW502#fg_11;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="erp" connectionString="Data Source=odes-sql01.unir.tbd;Initial Catalog=ERP_Academico_V2;Persist Security Info=True;User ID=web#academico;Password=NMSbcd_1234;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="RecursosVista" value="https://recursos.desunir.net/1.5/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RegistrosPorPagina" value="10|25|50|100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewRelic.AppName" value="GESTOR-MAPEO" xdt:Transform="Insert"/>
  </appSettings>

  <log4net xdt:Transform="Replace">
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=odes-sql01.unir.tbd;Initial Catalog=SeguridadUnir;User ID=cross#segunir;Password=bdccrt6a*mZ31$; MultipleActiveResultSets=True;" />
      <commandText value="INSERT INTO MainLog ([Date],[Thread],[Application],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, 'Gestor-Mapeos',@log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawUtcTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="jhonny.garcia@unir.net,juan.vasquez@unir.net" />
      <from value="logfornet@unir.net" />
      <subject value="ERROR Gestor - Mapeos (LOCAL)" />
      <smtpHost value="smtp.gmail.com" />
      <authentication value="Basic" />
      <username value="mantenimiento.inforfactory" />
      <password value="ifmantenimiento.inforfactory" />
      <bufferSize value="1" />
      <EnableSsl value="true"/>
      <lossy value="false" />
      <port value="587" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%newlineFecha: %date%newlineClase: %logger%newlineNivel:%level%newlineException: %message%newlineInner-Exception:" />
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>