@using GestorMapeos.Globalization.Views

<div class="box-fieldset">
    <span class="field-title">@CommonStrings.LabelSeccionLeyenda</span>
    <ul class="lista-leyenda">
        <li>
            <span class="legend">
                <span class="inline-block gestor-unir"></span>
                @CommonStrings.LabelLeyendaGestorUnir
            </span>
        </li>
        <li>
            <span class="legend">
                <span class="inline-block erp-academico"></span>
                @CommonStrings.LabelLeyendaERPAcademico
            </span>
        </li>
    </ul>
</div>
